.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal h1, .reveal h2 {
  font-family: "Phosphate", "League Gothic", Impact, sans-serif;
}

.reveal h3, .reveal h4 {
  font-family: "Noteworthy", "League Gothic", Impact, sans-serif;
}
