.reveal {
  section img {
    border: 0;
    box-shadow: none;
  }

  h1, h2 {
    color: white;
    font-family: 'Phosphate';
  }

  h3, h4 {
    color: white;
    font-family: 'Noteworthy';
  }

  a {
    color: white;
  }
}
