.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal h1, .reveal h2 {
  font-family: "Phosphate", "League Gothic", Impact, sans-serif;
  letter-spacing: 0.05em;
}

.reveal h2 {
  font-size: 2em;
  font-family: "Phosphate", "League Gothic", Impact, sans-serif;
  letter-spacing: 0.05em;
}

.reveal h3, .reveal h4 {
  font-family: "Noteworthy", "League Gothic", Impact, sans-serif;
  letter-spacing: 0.05em;
}

.hljs {
  background: transparent;
}
